@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 3rem 20rem;
    border: 0.3rem solid #00BFA6 ;
    background-color: white;
}
h1{
    text-align: center;
}
body{
    background-color: blanchedalmond;
    font-family: 'Oxygen', sans-serif;
}
label{
    padding-top: 2rem;
    font-size: small;
}
input{
    width: 30%;
}
button{
    margin:1rem;
    border: 0.1rem solid #00BFA6 ;

}
