@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 3rem 20rem;
    border: 0.3rem solid #00BFA6 ;
    background-color: white;
}
h1{
    text-align: center;
}
body{
    background-color: blanchedalmond;
    font-family: 'Oxygen', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
label{
    padding-top: 2rem;
    font-size: small;
}
input{
    width: 30%;
}
button{
    margin:1rem;
    border: 0.1rem solid #00BFA6 ;

}
:root{
    --primary-color: #00BFA6;
}
/* footer */
.footer{
    background-color: #00BFA6 ;
    padding: 2rem 1rem;
    text-align: center;
    color:white;
    border-top-right-radius: 1rem;
    margin-top: auto ;
    margin-left: 0rem;
    margin-right: 0rem;
}
.footer .links{
    color: white;
}
.footer .ul{
    padding-inline-start: 0px;
}

/* List */
.list-non-bullet{
    list-style: none;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* images */
.img-footer{
    height: 40px;
    width: 40px;
}